* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3e3e3;
}

.wrapper {
  min-height: 100vh;
  width: 95%;
  margin: 0 auto;  
}

.header {
  font-size: 2.5rem;
  font-weight: 500;
  color: #080808;
  height: 5rem; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 48%;
}

#editor {
  display: inline-block;
  min-height: 100%;
  width: 100%;
  resize: both;
  background-color: #c4bacc;
  color: black;
  box-shadow: 1px 1px 5px 1px gray;
  border-radius: 28px 0px;
  padding: 20px;
}

#preview {
  display: inline-block;
  width: 50%;
  background-color: #e3e3e3;
  box-shadow: 1px 1px 5px 1px gray;
  border-radius: 0px 28px;
  font-size: 12px;
  padding: 20px;
}

#preview pre {
  background-color: #fff;  
}

#preview blockquote {
  border-left: 1px solid black;
  padding: 0 3px;

}

img {
  width: 10%;
}